*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #e6e5a3, #557153);
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(151, 86, 86, 0.75);
  outline: none;
  background-color: #ffffffb9;
}
.calculator-grid > button:hover {
  background-color: #e6e5a3;
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  color: #e6e5a3;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-op {
  color: aquamarine;
  font-size: 1.5rem;
}
.output .curr-op {
  color: #e6e5a3;
  font-size: 2.5rem;
}
